.profileContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;

  .previewPicture {
    height: 200px;
    width: 100%;
    border-radius: 0.6rem;
  }

  .profileInfoWrapper {
    padding: 0 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .name {
      font-weight: 600;
      font-size: 50px;
      position: absolute;
      top: 65px;
      left: 42%;
      color: #cbcbcb;
    }

    .editableAvatar {
      width: 30%;
      display: flex;
      flex-direction: row-reverse;
      position: absolute;
      top: 90px;
      left: 6%;

      .avatar {
        display: inline-block;
        width: 90%;
        border-radius: 100%;
        border: 5px solid #55abec;
      }

      .uploadPhoto {
        position: absolute;
        top: 85%;
        left: 85%;

        &:hover {
          cursor: pointer;
        }
      }

      .uploadInput {
        display: none;
      }
    }

    .info {
      width: 45%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      position: absolute;
      left: 50%;
      top: 310px;

      .button {
        margin-right: 20px;
        font-size: 11px;
        width: 90px;
        height: 30px;
        align-self: flex-end;
      }

      .bold {
        font-weight: bold;
      }

      .socialMediaList {
        padding: 0;
        list-style: none;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .contactName {
          font-weight: bold;
          font-style: italic;
        }
      }
    }

  }
}