.profileContent {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .previewPicture {
    height: 200px;
    width: 100%;
    border-radius: 0.6rem;
  }

  .profileInfoWrapper {
    padding: 0 50px;

    .aboutPerson {
      display: flex;
      gap: 100px;

      .avatar {
        display: inline-block;
        border-radius: 100%;
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .name {
          font-weight: bold;
          font-size: 30px;
        }

        .bold {
          font-weight: bold;
        }

        .socialMediaList {
          padding: 0;
          list-style: none;
          margin: 0;
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
    }
  }
}