.users {
  padding: 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.625rem;

  .pages {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .usersList {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 80%;
    align-self: center;
    margin-top: 2.5rem;
  }

  .userContent {
    display: flex;
    gap: 3rem;
    align-items: center;
    font-family: 'Montserrat', sans-serif;

    .avatarAndFollow {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.625rem;

      .photo {
        width: 5rem;
        height: 5rem;
        border-radius: 100%;
      }

      .button {
        width: 6.875rem;
        height: 1.875rem;
        background-color: #55abec;
        border-radius: 0.625rem;
        font-size: 0.875rem;
        color: whitesmoke;

        &:hover {
          background-color: #1565c0;
        }

        &:disabled {
          opacity: 0.5;
        }
      }

      .followed {
        color: black;
        background-color: transparent;

        &:hover {
          background-color: rgba(21, 101, 192, 0.1);
        }
      }
    }

    .userInfo {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      max-width: 31.25rem;
      width: 100%;
      color: black;
      height: max-content;
      min-height: 3.125rem;
      padding: 0.625rem 1.25rem;
      border-radius: 10px;

      .name {
        font-size: 1.25rem;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}