.myPosts {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: 200px;

  &__published {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.625rem;
  }

  .title {
    font-weight: bold;
    font-size: 1.125rem;
  }
}