
.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  width: max-content;

  .textArea {
    width: 20rem;
    min-height: 3.125rem;
    border-radius: 0.625rem;
  }

  .error {
    font-size: 14px;
    color: red;
    margin-left: 0.625rem;
  }

  .sendButton {
    border-radius: 0.3125rem;
    height: 1.3rem;
    width: max-content;
    align-self: flex-end;
  }
}