.header {
  margin-top: 1rem;
  height: 6.25rem;
  background-color: rgb(0, 23, 40);
  display: flex;
  align-items: center;
  border-radius: 1rem;

  &__logo {
    width: 4.3rem;
    height: 4.3rem;
    margin-left: 2rem;
  }

  &__title {
    margin-left: 3rem;
    color: rgb(85, 171, 236);
  }
}
