.formWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;

  .textArea {
    padding: 0.3125rem;
    width: 70%;
    height: 1.25rem;
    border-radius: 0.5rem;
    resize: none;
    overflow: hidden;
    &:focus {
      outline: none;
    }
  }

  .error {
    background-color: #FFFFFF;
    color: red;
    font-weight: bold;
  }

  .button {
    width: 80px;
    font-weight: bold;
    font-size: 12px;
  }
}