.post {
  color: rgb(0, 0, 0);

  img {
    width: 30px;
    border-radius: 100%;
  }

  &__avatarAndMessage {
    display: flex;
    align-items: center;
    gap: 10px;

    p {
      margin: 0;
    }
  }
}

