body {
  background-color: #afbfea;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 16px;
}

.appWrapper {
  width: 75rem;
  margin: 0 auto;
}

.menuAndContentWrapper {
  margin-top: 0.9rem;
  display: flex;
  gap: 0.9rem;
}

.contentWrapper {
  background-color: whitesmoke;
  width: 80%;
  border-radius: 0.6rem;
  overflow: hidden;
}

.preloader {
  display: flex;
  justify-content: center;
  transform: scale(2.5);
}
