body {
  background-color: #b2afaf;
}

.appWrapper {
  width: 1200px;
  margin: 0 auto;
}

.menuAndContentWrapper {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}

.contentWrapper {
  background-color: beige;
  width: 80%;
}
